@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@1,100&family=Nunito:wght@300&family=Raleway&family=Roboto:wght@300&display=swap");

:root {
  --primary-color: #293241;
  --secondary-color: #e0fbfc;
  --accent1-color: #3d5a80;
  --accent2-color: #ee6c4d;
  --accent3-color: #98c1d9;

  --heading-font: "Roboto", serif;
  --paragraph-font: "raleway", serif;

  --nav-background-color: #98c1d9;
  --nav-link-color: #ee6c4d;
  --nav-hover-link-color: #3d5a80;
  --nav-hover-background-color: #e0fbfc;
}

* {
  font-family: "raleway", sans-serif;
  line-height: 1.4;
  color: #293241;
  width: 500px;
  margin-top: 0;
  margin-bottom: 0;
}

h1,
h2 {
  font-family: "Roboto", sans-serif;
  color: #3d5a80;
  font-weight: bold;
  font-size: 30px;
}

p {
  font-family: "raleway", sans-serif;
  font-size: 20px;
  margin-bottom: 20px;
}

/* HEADER */

header {
  background-color: #e0fbfc;
  margin-bottom: 20px;
  grid-template-rows: 3f 1f 1f 1f 1f;
}

nav a:link,
nav a:visited {
  color: #ee6c4d;
  text-decoration: none;
}

nav a:hover,
nav a:active {
  color: #3d5a80;
  font-weight: bold;
  text-decoration: none;
}

.logo {
  height: 100px;
  width: 100px;
}

/*MAIN*/

/* div clas="hero" */

.hero {
  margin-bottom: 20px;
}

.hero img {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

h1 {
  color: #fff;
  background-color: #2932413d;
  margin-bottom: 20px;
}

article {
  background-color: rgba(152, 193, 217, 0.561);
  margin-bottom: 50px;
}

article p {
  color: #75777a;
}

.hero-img2 {
  float: right;
  height: 10px;
  width: auto;
  margin-bottom: 25px;
}

/*HISTORY SECTION*/

.history {
  margin-top: 100px;
  margin-bottom: 100px;
}

/* section {
} */

/* FOOTER */
.social-links a {
  max-width: 25px;
  max-height: 25px;
}
