
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
    text-align: center;
}
nav {
    background-color: #edede9;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}



.grid {
    display: grid;
    align-items: center;
}

main {
    grid-column: 2;
    margin: 1rem;
}

aside {
    width: 20rem;
    position: relative;
    grid-row: 1;
}



nav a {
    color: #344e41;
    display: block;
    padding: 1 rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
}
h1 {
    color: #344e41;
    border-bottom: 1px solid #000;
}
main img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 0 0 1rem 1rem;
}
p {
    padding: 0;
}

aside {
    width: 20em;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2); /*1*/
    padding: 1rem;
    background-color: #edede9;
    color:rgb(13, 15, 10);
    text-align: center;
    position:relative;
}

aside img {
    width: 200px;
    height: auto;


}

aside h2 {
    float: clear;
    top: 1px;
    left: 150px;
    position: absolute;
}
footer {
    margin-top: 1em;
    border-top: 1px solid #000;
    text-align: center;
}

/* Class Selectors */

.box {
    margin: 1rem;
    border: 2 px solid rgba(0, 0, 0, 0.1);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}